@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

/* CSS Reset */

:root {
  --background-color: #fefbe9;
  --text-color: #183a1d;
  --primary-bgcolor: #183a1d;
  --primary-bgcolor-hover: #f0a04b;
  --secondary-bgcolor: #e1eedd;
  --secondary-bgcolor-hover: #f6c453;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 128rem;
  width: calc(100% - 30px);
  margin: 0 auto;
}

/* Header */

.header {
  background-color: var(--primary-bgcolor);
  color: #ffffff;
  padding: 25px 0;
}

.header-logo {
  display: block;
  width: 10rem;
  object-fit: cover;
}

.header-title {
  font-family: 'Playfair Display', serif;
  margin-top: 2.5rem;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 700;
}

.navbar {
  margin-top: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 65px;
  line-height: 1.1;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:nth-child(2) {
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

/* Gallery-Section */

.products-gallery {
  padding: 50px 0;
}

.products-gallery-title,
.contact-title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 700;
}

.products-gallery-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 4rem;
  padding-top: 30px;
  position: relative;
}

.products-gallery-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 35rem;
  background-color: var(--text-color);
}

.products-gallery-image {
  display: block;
  flex: 1 1 40rem;
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid var(--secondary-bgcolor);
}

/* Contact-Section */

.contact {
  padding: 50px 0;
  border-top: 1px solid var(--text-color);
}

.contact-container {
  max-width: 86rem;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.contact-text {
  margin: 3.5rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.contact-form {
  margin-top: 5rem;
}

.form-control {
  margin-bottom: 5rem;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.form-control > textarea {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--secondary-bgcolor);
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
}

.form-fields > input {
  display: block;
  font-family: inherit;
  flex: 1 1 33.333%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid var(--secondary-bgcolor);
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
}

.btn-submit {
  display: block;
  font-family: inherit;
  flex: 1 1 12rem;
  width: 12rem;
  padding: 12px;
  background-color: var(--secondary-bgcolor);
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  transition: all 300ms ease;
}

.btn-submit:hover {
  background-color: var(--secondary-bgcolor-hover);
}

/* Footer-Section */

.footer {
  padding: 50px 0;
  border-top: 1px solid var(--primary-bgcolor);
}

.footer-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

.footer-navlinks {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 65px;
  line-height: 1.1;
}

.footer-navlinks:hover {
  text-decoration: underline;
}

.footer-navlinks:nth-child(2) {
  border-right: 2px solid var(--text-color);
  border-left: 2px solid var(--text-color);
}

.footer-address {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 3.5rem 0 2.5rem;
  text-align: center;
}

.footer-cpr {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

/* Media Queries - Responsive Design */

@media (max-width: 600px) {
  .navbar {
    margin-top: 5rem;
  }

  .nav-link,
  .footer-navlinks {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 25px;
  }

  .form-control > textarea,
  .form-fields > input {
    font-size: 1.6rem;
    flex: 1 1 100%;
  }

  .form-control {
    margin-bottom: 2.5rem;
  }

  .footer-address,
  .footer-cpr,
  .contact-text {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

@media (max-width: 400px) {
  .products-gallery-image {
    flex: 1 1 100%;
    width: 100%;
  }
}
